
Ana: {

  Verbosity:    2
  EnableFilter: true # If filter module attached, run the process driver in filter mode
  RandomAccess: false # Randomize the input event ordering 
  InputFiles:   ["/home/coradam/supera/nue_eff_144k.root"] # list comma-separated files (if multiple) 
  ProcessType:  ["SimpleFiller"] # This is LArCV module name
  ProcessName:  ["Aho"] # This is an instance name
    
  ProcessList: {
    Aho: {
      Verbosity: 2
      # DatumFillerBase configuration
      MeanADC:           [0,0]
      MeanImageFile:     ""
      MeanImageProducer: ""
      ImageProducer:     "tpc" # input image producer name
      LabelProducer:     "tpc" # input ROI producer name
      # SimpleFiller configuration
      ClassTypeList:     [3] # this is a list of class to be used (enum) ... e-,gamma,mu-,pi-,proton
      Channels:          [0,1]   # This is plane to be used
      MaxADC:            [400,400] # This is to define saturation
      MinADC:            [4,4]  # This is to define threshold
      GausSmearingMean:  1.0   # gaussian multiplicative factor (random gen) 
      GausSmearingSigma: 0.1  # negative = don't do it
      PixelWiseSmearing: true # do gaussian smearing per pixel
      EnableMirror:      false  # random mirroring in wire direction
    }
  }
}

